{% extends 'base.html.twig' %}
{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<style>
 
</style>

<header class="header-about">
{% include 'navBar.html.twig' %}
    <section class="center-section sec-custom" style="text-align:center;">
        <h1 class="burdig-color-white col-8 mx-auto" style="">Qui sommes-nous?</h1>
        <h3 class="burdig-color-white">Des developpeurs qui pensent plus loin.</h3>
        <p class="burdig-color-white">On est comme ton équpe de developpement... Mais sans que t'aies a gerer des employés, 
        on reflechit on code et on optimise pour toi.</p>
        <button class="round-language-style burdig-color-white px-3" style="background-color:transparent;">Découvre notre histoire</button>
    </setion>
</header>
<div class="burdig-bgcolor-red d-flex" style="padding:20px 5px;">
 <div style="width:15px;">
    <img src="#" class="resp"/>
 </div>
 <p class="burdig-color-white">Chez burdig, on ne se contente pas de coder</p>
</div>

    <section class="five-section sec-custom">
        <div style="width:80%;margin: auto;text-align: center;">
                <h2 class="burdig-color-brown">Deux developpeurs, une idée claire</h2>
                <div class="row">
                    <p class="burdig-color-brown" style="font-size: 12px;">On s'est rencontrés a l'ecole, liés par une passion pour la programmation.
                    Après avoir travaillé en entreprise, un constat s'est imposé : logiciels mal connectés, outils inadapté, taches répétitives. 
                    Développeurs dans l'ame, on a créé Burdig Informatique pour ce connecter, optiiser et automatiser. 
                    Parce qu'un logiciel bien conçu change tout!</p>
                </div>
                <a href="#" class="round-language-style px-3 burdig-bgcolor-red">Explore nos services</a>
        </div>
    </section>
    <section class="four-section sec-custom">
        <div style="width:90%;margin: auto;">
            <div class="col-8">
                <button class="round-language-style burdig-color-white px-3" style="background-color:transparent;">Démarre ton projet</button>
                <h2 class="burdig-color-red">Ce qui fait vraiment la différence chez nous</h2>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <span class="burdig-color-brown" style="font-size:45px;">01</span>
                    <h4>Solidité des logiciels et apps</h4>
                    <span>Des solutions fiables, conçues pur durer</span>
                    <p>En tant que développeurs, on construit des logiciels et applications robustes, adaptés aux besoins de ton entreprises.
                    Chaque ligne de code est pensée pour gaantir performance et fiabilité, afin que tu puisses te concenrer sur ce qui compte.</p>
                </div>
                <div class="col-12 col-md-4">
                    <span class="burdig-color-brown" style="font-size:45px;">02</span>
                    <h4>Disponibilité</h4>
                    <span>Des solutions fiables, conçues pur durer</span>
                    <p>En tant que développeurs, on construit des logiciels et applications robustes, adaptés aux besoins de ton entreprises.
                    Chaque ligne de code est pensée pour gaantir performance et fiabilité, afin que tu puisses te concenrer sur ce qui compte.</p>
                </div>
                <div class="col-12 col-md-4">
                    <span class="burdig-color-brown" style="font-size:45px;">03</span>
                    <h4>Pro-Activité</h4>
                    <span>Des solutions fiables, conçues pur durer</span>
                    <p>En tant que développeurs, on construit des logiciels et applications robustes, adaptés aux besoins de ton entreprises.
                    Chaque ligne de code est pensée pour gaantir performance et fiabilité, afin que tu puisses te concenrer sur ce qui compte.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-custom burdig-bgcolor-white">
        <div style="width:90%;margin: auto; text-align:center;">   
            <h2 class="burdig-color-brown">Curieux de voir ce que des developpeurs peuvent faire?</h2>
            <p>Des idées concrètes, des résultats visibles. Jette un oeil a nos projets pour voir ce que nos developpeurs peuent réaliser pour toi</p>
            <a href="#" class="round-language-style px-3 burdig-bgcolor-red">Explore nos services</a>
        </div>
    </section>
{% endblock %}
