{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}
<header class="header-services">
{% include 'navBar.html.twig' %}
    <section class="center-section sec-custom" style="text-align:center;">
        <h1 class="burdig-color-white col-8 mx-auto" style="">Notre Offre</h1>
        <h3 class="burdig-color-white">Des services taillés sur mesure.</h3>
        <p class="burdig-color-white">Site web performants, logiciels custom, automatisations... On construit des 
        solutions robustesqui boostent ta productivité.</p>
        <a href="#" class="round-language-style burdig-color-white px-3" style="background-color:transparent; text-decoration:none;">
            Explore nos services
        </a>
    </setion>
</header>

    <section class="second-section sec-custom">
        <div style="width:80%;margin: auto;">
            <div class="col-7">
                <h3 class="burdig-color-brown">Pret a faire <br/> decoller ton projet avec le developpement de logiciels</h3>
                <div class="row">
                    <p class="col-6 burdig-color-brown" style="font-size: 12px;">On t'aide a propulser ton projet avec le developpement de logiciels. 
                    On prend le temps d'écouter et de comprendre tes besoins. Ensuite, on te propose des solutions simples et efficaces</p>
                    <p class="col-6 burdig-color-brown" style="font-size: 12px;">Pour optimiser tes processus, connecter tes outils et automatiser les taches.
                    Pas de jargon, juste des solutions sur mesure, parfaitement adaptées a ton entreprise.</p>
                </div>
                <a href="#" class="round-language-style px-3 burdig-bgcolor-red">Démarre ton projet</a>
            </div>
            <div class="col-5"></div>
        </div>
    </section>



{% endblock %}
