{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}
<header class="header-services">
    <section class="center-section sec-custom pt-0" style="text-align:center;">
        {% include 'navBar.html.twig' %}
        <h1 class="burdig-color-white col-8 mx-auto mt-5" style="">Notre OFFRE</h1>
        <h3 class="burdig-color-white">Des services taillés sur mesure.</h3>
        <p class="burdig-color-white marge">Site web performants, logiciels custom, automatisations... On construit des 
        solutions robustesqui boostent ta productivité.</p>
        <a href="#" class="round-language-style burdig-color-white px-3" style="background-color:transparent; text-decoration:none;">
            Explore nos services
        </a>
    </setion>
</header>

    <section class="second-section sec-custom">
        <div class="row justify-content-center" style="width:80%;margin:auto;">
            <div class="col-lg-7 col-12 order-2 order-lg-1" style="align-self: center;">
                <h3 class="burdig-color-brown">Pret à faire <br/> décoller ton projet avec le développement de logiciels</h3>
                <div class="row ">
                    <p class="col-12 burdig-color-brown marge">On t’aide à propulser ton projet avec le développement de logiciels. 
                    On prend le temps d’écouter et de comprendre tes besoins. </p>
                    <p class="col-12 burdig-color-brown marge">Ensuite, on te propose des solutions simples et efficaces pour optimiser tes processus, connecter tes outils et 
                    automatiser les tâches. Pas de jargon, juste des solutions sur mesure, parfaitement adaptées à ton entreprise.
                    </p>
                </div>
                <a href="#" class="round-language-style px-3 burdig-bgcolor-red">Démarre ton projet</a>
            </div>
            <div class="col-lg-5 col-12 order-1 order-lg-2">
                <img src="{{ asset('assets/images/collage_3.png') }}" alt="Description de l'image" class="resp w-100">
            </div>
        </div>
    </section>


    <section class="main-service-section sec-custom relative" style="padding-top:200px;">
        <div class="row" style="">
            <div class="col-5 col-lg-2 absolute pastille2position" style="">
                <img src="{{ asset('assets/images/pastille_2.png') }}" alt="Description de l'image" class="resp">
            </div>
            {# section 1 #}
            <div class="d-flex toggle-section" data-section="1" style="cursor: pointer;border-bottom:2px solid #D5C2A2;">
                <div class="mx-4 my-2">
                    <i class="bi bi-arrow-down-short burdig-color-brown toggle-arrow" style="font-size:20px;border: 2px solid #2C2516;border-radius: 50%;padding: 5px 10px;"></i>
                </div>
                <p style="align-self: center;">Développement de sites web performants</p>
            </div>
            <div class="toggle-content" data-section="1" style="display: none;">
                <p class="burdig-color-red py-2 mb-0" style="border-bottom:2px solid #D5C2A2;">Un site web qui travaille aussi fort que toi</p>
                <div class="row">
                    <div class="col-12 col-lg-6 p-lg-5 p-3" style="border-right:2px solid #D5C2A2;border-bottom:2px solid #D5C2A2;">
                        <h2 class="burdig-color-brown">Développement de sites web performants</h2>
                    </div>
                    <div class="col-12 col-lg-6 p-lg-5 p-3" style="border-bottom:2px solid #D5C2A2;">
                        <span class="burdig-color-beige" style="font-size:25px;">01</span>
                        <div class="">
                            <p class="burdig-color-brown marge">
                                On ne fait pas juste des jolis sites, on crée des plateformes solides, rapides et pensées pour performer. 
                                Que tu veuilles un site vitrine ou une plateforme complexe, on s’assure qu’il soit intuitif, rapide et qu’il convertisse. 
                                Ton site devient un véritable outil qui soutient ta croissance. Parce qu’un site lent ou mal pensé, ça ne sert à personne.
                            </p>
                            <a href="mailto:contact@votre-email.com?subject=Je%20veux%20mon%20projet%20Burdig" class="round-language-style burdig-color-white burdig-bgcolor-red px-3" style="text-decoration:none;">Contacte-nous</a>
                        </div>
                    </div>
                </div>
            </div>

            {# section 2 #}
            <div class="d-flex toggle-section" data-section="2" style="cursor: pointer;border-bottom:2px solid #D5C2A2;">
                <div class="mx-4 my-2">
                    <i class="bi bi-arrow-down-short burdig-color-brown toggle-arrow" style="font-size:20px;border: 2px solid #2C2516;border-radius: 50%;padding: 5px 10px;"></i>
                </div>
                <p style="align-self: center;">Développement de logiciels sur mesure</p>
            </div>
            <div class="toggle-content" data-section="2" style="display: none;">
                <p class="burdig-color-red py-2 mb-0" style="border-bottom:2px solid #D5C2A2;">Un site web qui travaille aussi fort que toi</p>
                <div class="row">
                    <div class="col-12 col-lg-6 p-lg-5 p-3" style="border-right:2px solid #D5C2A2;border-bottom:2px solid #D5C2A2;">
                        <h2 class="burdig-color-brown">Développement de logiciels sur mesure</h2>
                    </div>
                    <div class="col-12 col-lg-6 p-lg-5 p-3" style="border-bottom:2px solid #D5C2A2;">
                        <span class="burdig-color-beige" style="font-size:25px;">02</span>
                        <div class="">
                            <p class="burdig-color-brown marge">
                                Tu as des besoins uniques? On développe des logiciels parfaitement alignés avec tes
                                opérations. Fini les compromis avec des solutions génériques. On crée des outils
                                solides, simples à utiliser et parfaitement intégrés à ton quotidien. Chaque ligne de
                                code est pensée pour t’aider à gagner du temps et à augmenter ta productivité.
                            </p>
                            <a href="mailto:contact@votre-email.com?subject=Je%20veux%20mon%20projet%20Burdig" class="round-language-style burdig-color-white burdig-bgcolor-red px-3" style="text-decoration:none;">Contacte-nous</a>
                        </div>
                    </div>
                </div>
            </div>
            {# section 3 #}
            <div class="d-flex toggle-section" data-section="3" style="cursor: pointer;border-bottom:2px solid #D5C2A2;">
                <div class="mx-4 my-2">
                    <i class="bi bi-arrow-down-short burdig-color-brown toggle-arrow" style="font-size:20px;border: 2px solid #2C2516;border-radius: 50%;padding: 5px 10px;"></i>
                </div>
                <p style="align-self: center;">Développement de liens entre logiciels</p>
            </div>
            <div class="toggle-content" data-section="3" style="display: none;">
                <p class="burdig-color-red py-2 mb-0" style="border-bottom:2px solid #D5C2A2;">Un site web qui travaille aussi fort que toi</p>
                <div class="row">
                    <div class="col-12 col-lg-6 p-lg-5 p-3" style="border-right:2px solid #D5C2A2;border-bottom:2px solid #D5C2A2;">
                        <h2 class="burdig-color-brown">Développement de liens entre logiciels</h2>
                    </div>
                    <div class="col-12 col-lg-6 p-lg-5 p-3" style="border-bottom:2px solid #D5C2A2;">
                        <span class="burdig-color-beige" style="font-size:25px;">03</span>
                        <div class="">
                            <p class="burdig-color-brown marge">
                                Tes logiciels refusent de se comprendre? On construit des ponts entre eux pour qu’ils
                                échangent des données sans friction. Plus besoin de tout faire à la main ou de jongler
                                entre plusieurs plateformes. On automatise les échanges d’informations pour que
                                tout roule sans effort.
                            </p>
                            <a href="mailto:contact@votre-email.com?subject=Je%20veux%20mon%20projet%20Burdig" class="round-language-style burdig-color-white burdig-bgcolor-red px-3" style="text-decoration:none;">Contacte-nous</a>
                        </div>
                    </div>
                </div>
            </div>
            {# section 4 #}
            <div class="d-flex toggle-section" data-section="4" style="cursor: pointer;border-bottom:2px solid #D5C2A2;">
                <div class="mx-4 my-2">
                    <i class="bi bi-arrow-down-short burdig-color-brown toggle-arrow" style="font-size:20px;border: 2px solid #2C2516;border-radius: 50%;padding: 5px 10px;"></i>
                </div>
                <p style="align-self: center;">Développement de modules complémentaires</p>
            </div>
            <div class="toggle-content" data-section="4" style="display: none;">
                <p class="burdig-color-red py-2 mb-0" style="border-bottom:2px solid #D5C2A2;">Un site web qui travaille aussi fort que toi</p>
                <div class="row">
                    <div class="col-12 col-lg-6 p-lg-5 p-3" style="border-right:2px solid #D5C2A2;border-bottom:2px solid #D5C2A2;">
                        <h2 class="burdig-color-brown">Développement de modules complémentaires</h2>
                    </div>
                    <div class="col-12 col-lg-6 p-lg-5 p-3" style="border-bottom:2px solid #D5C2A2;">
                        <span class="burdig-color-beige" style="font-size:25px;">04</span>
                        <div class="">
                            <p class="burdig-color-brown marge">On ne fait pas juste des jolis sites, on crée des plateformes solides, rapides et pensées pour performer. 
                            Que tu veuilles un site vitrine ou une plateforme complexe, on s’assure qu’il soit intuitif, rapide et qu’il convertisse. 
                            Ton site devient un véritable outil qui soutient ta croissance. Parce qu’un site lent ou mal pensé, ça ne sert à personne.</p>
                            <a href="mailto:contact@votre-email.com?subject=Je%20veux%20mon%20projet%20Burdig" class="round-language-style burdig-color-white burdig-bgcolor-red px-3" style="text-decoration:none;">
                                Contacte-nous
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<script>
   document.addEventListener('DOMContentLoaded', function () {
        // Sélectionner toutes les sections
        const sections = document.querySelectorAll('.toggle-section');

        sections.forEach(function(section) {
            // Extraire le numéro de la section
            const sectionNumber = section.getAttribute('data-section');
            
            const toggleArrow = section.querySelector('.toggle-arrow');
            const toggleContent = document.querySelector(`.toggle-content[data-section="${sectionNumber}"]`);

            // Ajouter un événement de clic à chaque section
            section.addEventListener('click', function() {
                // Vérifier si le contenu est actuellement visible
                if (toggleContent.style.display === 'none' || toggleContent.style.display === '') {
                    // Si le contenu est caché, l'afficher
                    toggleContent.style.display = 'block';
                    // Changer la flèche pour indiquer que la section est ouverte
                    toggleArrow.classList.remove('bi-arrow-down-short');
                    toggleArrow.classList.add('bi-arrow-up-short');  // Flèche vers le haut
                } else {
                    // Si le contenu est visible, le cacher
                    toggleContent.style.display = 'none';
                    // Changer la flèche pour indiquer que la section est fermée
                    toggleArrow.classList.remove('bi-arrow-up-short');
                    toggleArrow.classList.add('bi-arrow-down-short');  // Flèche vers le bas
                }
            });
        });
    });
</script>

{% endblock %}

