<footer class="" style="position:relative;">
<div class="col-2" style="position:absolute;top:-55px;right:250px">
 <img src="{{ asset('assets/images/pastille_1.png') }}" alt="Description de l'image" class="resp">
</div>
    <div class="row footer-section burdig-bgcolor-brown burdig-color-white"> 
        <div class="col-4">
            <h2 style="font-size:60px;"><span class="burdig-color-red">On est là,</span> quand t’es prêt(E)</h2>
        </div>
        <div class="col-4">
            <p class="mb-4" style="font-size:25px;">Que tu veuilles connecter tes logiciels, automatiser tes tâches ou optimiser ton quotidien, on est là pour t’accompagner.
            Parce qu’un bon projet, ça commence avec une équipe qui comprend vraiment tes besoins. Alors, on commence quand ?</p>
            <a href="#" class="round-language-style burdig-color-white px-3 mt-2" style="background-color:transparent; text-decoration:none;border: 1px solid white;">
            soumission
            </a>
        </div>

        <div class="col-4" style="align-content: end;">    
            <span>Contact</span><br/>
            <span>Tel : (514) 503-7194</span><br/>
            <span>Courriel: nicolas@burdig.ca</span><br/>
            <a class="burdig-color-red" href="#">Politique de confidentialité</a>
        </div>
    </div>
    <div class="p-2 burdig-bgcolor-red">
        <p class="text-center">© 2025 Tous droits réservés à Burdig Informatique | Design web par Clik & Pixel</p>
    </div>
</footer>