<footer>
    <div> 
    <h4>On est là, quand t’es prêt(E)</h4>
    <p>Que tu veuilles connecter tes logiciels, automatiser tes tâches ou optimiser ton quotidien, on est là pour t’accompagner.
     Parce qu’un bon projet, ça commence avec une équipe qui comprend vraiment tes besoins. Alors, on commence quand ?</p>
    <a href="#">soumission</a>

    <img src="{{ asset('assets/images/pastille_1.png') }}" alt="Description de l'image" class="resp">
    <span>Contact</span>
    <span>Tel : (514) 503-7194</span>
    <span>Courriel: nicolas@burdig.ca</span>
     <a href="#">Politique de confidentialité</a>
    </div>
    <div>
        <p>© 2025 Tous droits réservés à Burdig Informatique | Design web par Clik & Pixel</p>
    </div>
</footer>