<section class="seven-section sec-custom">
    <div style="width:90%;margin: auto;text-align:center;">
        <h3 class="burdig-color-white">Reste branché avec nous!</h3>
        <p class="col-10 mx-auto burdig-color-white">Promis, on t'envoie que du contenu utile (et un brin fun). 
        Tu peux te désaboner en tout temps.</p>
        <div class="row mt-3" style="justify-content: center;">
            <input type="email" class="form-control col-5 mr-3" id="baseInputEmail" placeholder="Votre Courriel" style="width:35%;border-radius:50px;margin-right: 15px;">
            <input type="submit" value="Envoyer" name="newsletter_subscription_button" class="round-language-style px-3 burdig-bgcolor-red burdig-color-white col-1"></input>
        </div>
    </div> 
</section>