<section class="seven-section sec-custom">
    <div class="w-70" style="margin: auto;text-align:center;">
        <h3 class="burdig-color-white">Reste branché avec nous!</h3>
        <p class="col-lg-10 mx-auto burdig-color-white">Promis, on t'envoie que du contenu utile (et un brin fun). 
        Tu peux te désaboner en tout temps.</p>
        <div class="row mt-3" style="justify-content: center;">
            <input type="email" class="form-control mr-3" id="baseInputEmail" placeholder="Votre Courriel" style="">
            <input type="submit" value="Envoyer" name="newsletter_subscription_button" class="round-language-style px-3 burdig-bgcolor-red burdig-color-white col-lg-2 col-12"></input>
        </div>
    </div> 
</section>